<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>DBExplorer</title>
</head>

<body>
  <main>
    <h2>Todo database explorer</h2>
    <% if (lists.length>= 1) { %>
      <p>Select a list to view the items belonging to it:</p>
      <ul>
        <% lists.forEach(function(list){ %>
          <li>
            <a href=<%='/list/' + list.id %>><%= list.name %> (id: <%= list.id %>, due: <%= list.due===null ? 'never' :
                    list.due %>, done: <%= list.done===0 ? 'no' : 'yes' %>)</a>
          </li>
          <% }); %>
            <% } else { %>
              <p>This user has no lists.</p>
              <% }; %>
      </ul>
  </main>
</body>

</html>
